Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [1]:
myList = ["Python", "Rstudio", "Julia",]

Some of the commonly used libraries used by Data Scientists include:

In [2]:
myList = ["NumPy", "Pandas", "Matplotlib",]

Data Science Tools
_________________
|SAS|

|Apache Hodoop|

|TensorFlow|

In [3]:
#Below are a few examples of evaluating arithmetic expressions in Python
2+2

4

In [4]:
2-2

0

In [5]:
2^2

0

In [6]:
2/2

1.0

In [7]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200 // 60

3

_Unordered list_
       
       *JavaScript

       *SQL
       
       *Python
       
       *Apache

## AUTHOR
Ryan Chau